<%= render "shared/error", obj: @reservation %>
<div class="container room-show">
    <div class="row">
        <div class="col-md-8">
            <%= image_tag "#{@room.roomimage}", alt: "部屋画像", class: "room-show-image" %>
            <div class="room-show-detile">
                <div class="room-show-detile-icon">
                    <%= image_tag "#{current_user.userimage}", class: "host-icon" %>
                </div>
                <div class="room-show-profile">
                    <p class="room-show-profile-name"><%= @room.roomname %></p>
                    <p class="room-show-profile-address"><%= @room.address %></p>
                </div>
            </div>
            <p class="room-show-detile-content"><%= @room.roominfo %></p>
        </div>
        <div class="col-md-4">
            <div class="room-show-nav">
                <h5 class="price-icon"><%= @room.price %></h5>
                <div class="room-show-date-select">
                    <%= form_with model:@reservation, url: "/reservations/confirm" do |f| %>

                        <label for="start_date">開始日</label>
                        <%= f.date_field :startdate, class: "form-control mb-4" %>
                        
                        <label for="end_date">終了日</label>
                        <%= f.date_field :enddate, class: "form-control mb-4" %>

                        <label for="person_num">人数</label>
                        <%= f.number_field :people, class: "form-control mb-4" %>

                        <%= f.hidden_field :room_id, value: @room.id %>
                        <%= f.hidden_field :user_id, value: current_user.id %>

                        <%= f.submit "予約する", class: "btn btn-primary form-control" %>

                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>